/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next,
main {
  height: 100%;
}

html {
  padding: 20px;
}

h1 {
  font-size: 50px;
  font-family: "Pridi", serif;
}

h2 {
  font-size: 30px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: underline;
  cursor: pointer;
}

.offcanvas-backdrop{
  display: none;
  background-color:transparent;
}