@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;500&family=Roboto:wght@300;500&display=swap"); /* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Payback";
  font-style: normal;
  src: url("/payback-webfont.woff2") format("woff2"),
  url("/payback-webfont.woff") format("woff");
}

@font-face {
  font-family: "Geist";
  font-style: normal;
  src: url("/Geist-Regular.woff2") format("woff2")
}

html,
body,
#__next,
main {
  height: 100%;
  min-height: 400px;
  background-color: black;
}

h1, h2, h4 {
  font-weight: bold;
}