.mostRecentExperience {
  text-align: left;

  h2, h3 {
    font-family: "Roboto", serif;
    font-weight: 900;
    color: #4ce0b3;
    font-size: 1.25rem;
  }

  h3 {
    font-family: "Roboto Mono", serif;
    font-weight: 100;
  }
}
