#v2 {
  color: white;

  h1 {
    font-family: 'Geist';
  }

  a {
    border-bottom: 5px solid #f26130;
  }

  .purple {
    border-bottom: 5px solid purple;
  }

  .cyan {
    border-bottom: 5px solid #4ce0b3;
  }

  .blue {
    border-bottom: 5px solid #0ACDFF;
  }

  .education {
    a {
      border-bottom: 5px solid #DCF763;
    }

    li {
      list-style: disc;
      margin-left: 20px;
    }
  }
}